*.tar
*.pth
*.rar
*.zip
*.png
*.jpg
*.out
*.log
*.pyc
*.mge
*.pickle
*.pkl
*.pyc
*.mge
*.ckpt
*.jpeg
/auxiliary/LoFTR_master/weights/*
/auxiliary/AllMatchingToolbox/*
/unimatch/demo/*
/toolkit/image_evaluation/*
/toolkit/models/*
/toolkit/generate_images/*
/datasets/*
/toolkit/lightning_train/ckpts/*
